In [15]:
import pandas as pd

usd = pd.read_csv(r"D:\Data Sets\USD_Index_DXY.csv")
print(usd.columns)
usd.head()

Index(['observation_date', 'DTWEXBGS'], dtype='object')

  observation_date  DTWEXBGS
0       2021-01-04  111.2143
1       2021-01-05  110.9649
2       2021-01-06  110.8573
3       2021-01-07  111.3124
4       2021-01-08  111.2930

In [16]:
import os
import pandas as pd

# 
# 0. SET WORKING DIRECTORY
# 
os.chdir(r"D:\Data Sets")

print("Files:", os.listdir())

# 
# Q1. Gold buying vs USD Index
# 

# ---- Gold data ----
gold = pd.read_excel("Gold_UNComtrade_2019_2024.xlsx")

gold_year = (
    gold
    .groupby("Year")["TradeValue_USD"]
    .sum()
    .reset_index()
)

# ---- USD Index data ----
usd = pd.read_csv("USD_Index_DXY.csv")

# Auto-detect date column
date_col = [c for c in usd.columns if 'date' in c.lower()][0]

usd[date_col] = pd.to_datetime(usd[date_col])
usd["Year"] = usd[date_col].dt.year

usd_year = (
    usd
    .groupby("Year")["DTWEXBGS"]
    .mean()
    .reset_index()
)

# ---- Merge & Correlation ----
gold_usd = pd.merge(gold_year, usd_year, on="Year")

print("\nQ1 RESULT: Gold vs USD Index Correlation")
print(gold_usd[["TradeValue_USD", "DTWEXBGS"]].corr())

Files: ['Bitcoin_Price_and_Volume.xlsx', 'Bitcoin_Volatility.xlsx', 'Crude_OIL-Data-2019_2024.xlsx', 'Gold_UNComtrade_2019_2024.xlsx', 'SWIFT_RMB_Tracker.csv', 'Trading_Volume.xlsx', 'USD_Index_DXY.csv']

Q1 RESULT: Gold vs USD Index Correlation
                TradeValue_USD  DTWEXBGS
TradeValue_USD        1.000000  0.914725
DTWEXBGS              0.914725  1.000000

In [17]:
import pandas as pd
import os

os.chdir(r"D:\Data Sets")

btc = pd.read_excel("Trading_Volume.xlsx")
print(btc.columns)
btc.head()

Index(['Date', 'BitX_Price', 'Outlier_BitX_Price', 'BitBay_Price',
       'Outlier_BitBay_Price', 'Bitfinex_Price', 'Outlier_Bitfinex_Price',
       'Bitso_Price', 'Outlier_Bitso_Price', 'Bitstamp_Price',
       'Outlier_Bitstamp_Price', 'Coinbase_Price', 'Outlier_Coinbase_Price',
       'Exmo_Price', 'Outlier_Exmo_Price', 'Gemini_Price',
       'Outlier_Gemini_Price', 'Kraken_Price', 'Outlier_Kraken_Price',
       'Other_Exchanges_Price', 'Outlier_Other_Exchanges_Price',
       'Duplicate_Check', 'Duplicate_Flag', 'Month', 'Quarter'],
      dtype='object')

,Date,BitX_Price,Outlier_BitX_Price,BitBay_Price,Outlier_BitBay_Price,Bitfinex_Price,Outlier_Bitfinex_Price,Bitso_Price,Outlier_Bitso_Price,Bitstamp_Price,...,Gemini_Price,Outlier_Gemini_Price,Kraken_Price,Outlier_Kraken_Price,Other_Exchanges_Price,Outlier_Other_Exchanges_Price,Duplicate_Check,Duplicate_Flag,Month,Quarter
0,2021-01-01,207361.6171,Outlier,49212.800582,Normal,477436.224142,Outlier,10914.521337,Outlier,599453.151436,...,118352.650429,Outlier,657992.127079,Outlier,68547.452966,Outlier,1.0,Unique,Annual,FY
1,2021-02-01,30.1860,Outlier,27123.184706,Normal,326069.893364,Normal,7128.339038,Normal,335600.407839,...,75222.437775,Normal,406792.947995,Outlier,48039.262390,Outlier,1.0,Unique,Annual,FY
2,2021-03-01,0.3703,Normal,33629.140757,Normal,267070.505759,Normal,4594.502701,Normal,225261.935160,...,53414.185140,Normal,318231.551624,Normal,32256.692500,Outlier,1.0,Unique,Annual,FY
3,2021-04-01,0.3374,Normal,33660.556389,Normal,251550.846643,Normal,3891.537484,Normal,202909.811990,...,56047.713447,Normal,285443.098131,Normal,37485.958235,Outlier,1.0,Unique,Annual,FY
4,2021-05-01,0.0669,Normal,38804.988019,Normal,429774.998650,Outlier,6491.882939,Normal,328964.728414,...,110182.651344,Outlier,488193.634785,Outlier,55329.706873,Outlier,1.0,Unique,Annual,FY

In [18]:
import pandas as pd
import os

os.chdir(r"D:\Data Sets")

oil = pd.read_excel("Crude_OIL-Data-2019_2024.xlsx")
print(oil.columns)

Index(['typeCode', 'freqCode', 'refPeriodId', 'Year', 'refMonth', 'period',
       'reporterCode', 'Country_ISO', 'Country', 'flowCode', 'flowDesc',
       'partnerCode', 'partnerISO', 'partnerDesc', 'partner2Code',
       'partner2ISO', 'partner2Desc', 'classificationCode',
       'classificationSearchCode', 'isOriginalClassification', 'cmdCode',
       'cmdDesc', 'aggrLevel', 'isLeaf', 'customsCode', 'customsDesc',
       'mosCode', 'motCode', 'motDesc', 'qtyUnitCode', 'qtyUnitAbbr', 'qty',
       'isQtyEstimated', 'altQtyUnitCode', 'altQtyUnitAbbr', 'Quantity_BBL',
       'isAltQtyEstimated', 'netWgt', 'isNetWgtEstimated', 'grossWgt',
       'isGrossWgtEstimated', 'cifvalue', 'TradeValue_USD', 'primaryValue',
       'legacyEstimationFlag', 'isReported', 'isAggregate', 'Q1', 'Q3', 'IQR',
       'Lower Limit', 'Upper Limit', 'Outlier_Quantity_BBl', 'Q1.1', 'Q3.1',
       'IQR.1', 'Lower Limit.1', 'Upper Limit.1', 'Outlier_TradevalueUSD'],
      dtype='object')

In [19]:
import os
import pandas as pd

# ----
# SET WORKING DIRECTORY
# ----
os.chdir(r"D:\Data Sets")

# ==========================================
# Q2. Does higher crypto settlement correlate
#     with smaller cargo sizes?
# ==========================================

# ---- Load Bitcoin trading volume ----
btc = pd.read_excel("Trading_Volume.xlsx")

# Detect date column
btc_date_col = [c for c in btc.columns if "date" in c.lower() or "time" in c.lower()][0]

# Detect BTC volume column (numeric, not date)
btc_volume_col = [
    c for c in btc.columns
    if c != btc_date_col and pd.api.types.is_numeric_dtype(btc[c])
][0]

btc[btc_date_col] = pd.to_datetime(btc[btc_date_col])
btc["Year"] = btc[btc_date_col].dt.year

btc_year = (
    btc
    .groupby("Year")[btc_volume_col]
    .sum()
    .reset_index()
    .rename(columns={btc_volume_col: "BTC_Volume"})
)

# ---- Load Crude Oil cargo data ----
oil = pd.read_excel("Crude_OIL-Data-2019_2024.xlsx")

oil_year = (
    oil
    .groupby("Year")["netWgt"]
    .sum()
    .reset_index()
    .rename(columns={"netWgt": "Cargo_Weight"})
)

# ---- Merge & Correlation ----
crypto_oil = pd.merge(btc_year, oil_year, on="Year")

print("\nQ2 RESULT: Crypto Settlement vs Cargo Size Correlation")
print(crypto_oil[["BTC_Volume", "Cargo_Weight"]].corr())

Q2 RESULT: Crypto Settlement vs Cargo Size Correlation
              BTC_Volume  Cargo_Weight
BTC_Volume       1.00000       0.60737
Cargo_Weight     0.60737       1.00000

In [20]:
import pandas as pd
import os

os.chdir(r"D:\Data Sets")

swift = pd.read_csv("SWIFT_RMB_Tracker.csv")
print(swift.columns)
swift.head()

Index(['Year', 'RMB_Share_Percent'], dtype='object')

   Year  RMB_Share_Percent
0  2019               1.84
1  2020               1.91
2  2021               2.22
3  2022               2.31
4  2023               2.93

In [21]:
import os
import pandas as pd

# ------------------------------------------
# SET WORKING DIRECTORY
# ------------------------------------------
os.chdir(r"D:\Data Sets")

# ==========================================
# Q3. BRICS Currency Share – Pre vs Post UAE Policy
# ==========================================

swift = pd.read_csv("SWIFT_RMB_Tracker.csv")

# Auto-detect BRICS/RMB share column (numeric, not Year)
share_col = [
    c for c in swift.columns
    if c.lower() != "year" and pd.api.types.is_numeric_dtype(swift[c])
][0]

print("Using currency share column:", share_col)

# Create policy period
swift["Policy_Period"] = swift["Year"].apply(
    lambda x: "Pre-2023" if x < 2023 else "Post-2023"
)

# Pre vs Post comparison
brics_share = (
    swift
    .groupby("Policy_Period")[share_col]
    .mean()
    .reset_index()
)

print("\nQ3 RESULT: BRICS Currency Share (Pre vs Post UAE Policy)")
print(brics_share)

Using currency share column: RMB_Share_Percent

Q3 RESULT: BRICS Currency Share (Pre vs Post UAE Policy)
  Policy_Period  RMB_Share_Percent
0     Post-2023               3.70
1      Pre-2023               2.07